<template>
  <div
    v-if='show'
    class='layout-to-top-wrapper-bg'
    @click.stop='closeModal'
  />
    <div ref='layoutToTop' class='layout-to-top'>
      <template v-if='show'>
        <div  class='layout-to-top-close-wrapper' @click.stop='closeModal'>
          <img src='/src/assets/images/icons/close.png' class='layout-to-top-close' alt='Закрыть'>
        </div>
        <div class='layout-to-top-middle'>
          <slot name='content'>Передайте контент</slot>
        </div>
      </template>
    </div>
</template>

<script>
import { watch, ref } from 'vue'
import WrapperLayout from '../../components/Universal/WrapperLayout.vue'
export default {
  name: 'LayoutToTop',
  props: {
    active: {
      type: Boolean,
      default: false
    }
  },
  components: { WrapperLayout },
  emits:['updateActive'],
  setup(props, context) {
    const layoutToTop = ref()
    const show = ref(props?.active)

    watch(() => props?.active, (newActive) => {
      if (newActive) {
        show.value = newActive
        layoutToTop.value.classList.add('layout-to-top-active')
      }
    })

    const closeModal = () => {
      layoutToTop.value.classList.remove('layout-to-top-active')
      context.emit('updateActive', false)
      setTimeout(() => {
        show.value = false
      }, 1000)
    }

    return {
      layoutToTop,
      show,
      closeModal
    }
  }
}
</script>

<style lang='scss' scoped>
  .layout-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 1s ease;
    z-index: 99;
    background: white;
    border-radius: 20px 20px 0 0;
    &-active {
      transform: translateY(0);
      transition: transform 1s ease;
      max-height: 95%;
      padding: 40px 0 20px 0;
    }
    &-close {
      width: 20px;
      height: 20px;
      &-wrapper {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F5F5;
      }
    }
    &-wrapper-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      z-index: 98;
      background: rgba(0,0,0, 0.3);
    }
  }

  @keyframes toBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
</style>