<template>
  <div class='success'>
    <p class='success-info' v-html='info' />
  </div>
</template>

<script>
export default {
  name: 'RequestSuccess',
  props: {
    info: {
      type: String,
      default: 'Ваша заявка отправлена! <br> С вами свяжутся в течении 10 минут'
    }
  }
}
</script>

<style lang='scss' scoped>
.success {
  &-info {
    font-size: 18px;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>