<template>
  <section class='social-links'>
    <a
      v-for='(item, index) in dict'
      :key='index'
      target='_blank'
      class='social-links-item'
      :href="item.link === '+79118293155' ? 'tel:+79118293155' : item.link">
      <img :src='item.image' />
    </a>
  </section>
</template>

<script>
import { defineComponent, reactive } from 'vue'
import { RouterLink } from 'vue-router'
import vk from '@/assets/images/icons/social/vk.png'
import whatsapp from '@/assets/images/icons/social/whatsapp.png'
import telegram from '@/assets/images/icons/social/telegram.png'
import telephone from '@/assets/images/icons/social/telephone.png'
export default defineComponent({
  name: 'SocialLinks',
  components: {
    RouterLink
  },
  setup() {

    const dict = reactive([
      { id: 0, link: 'https://vk.com/kabaloevt', image: vk },
      { id: 1, link: 'https://wa.me/79118293155', image: whatsapp },
      { id: 2, link: 'https://t.me/+79118293155', image: telegram },
      { id: 3, link: '+79118293155', image: telephone},
    ])

    return { dict }
  }
})
</script>

<style lang='scss' scoped>
@import "./src/assets/sass/variables.scss";
  .social {
    &-links {
      display: flex;
      justify-content: space-between;
      //padding: 10px 0 50px 0;
      padding: 10px 0 25px 0;
      //margin: 10px 0 25px 0;
      width: 70%;
      margin: 0 auto;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        //background-color: $btnbg;
        border: 2px solid #4f9cf9;
        border-radius: 10px;
        //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        & > img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
</style>