<template>
  <input
    v-model='item.answer'
    :placeholder='item.placeholder'
    :type='item.type'
    class='input'
  />
  <p v-if='item.valid' class='input-error'>*Поле не должно быть пустым</p>
</template>

<script>
import { watch } from 'vue'
import useSchemaInputs from '../../../utils/useSchemaInputs'
export default {
  name: 'standartInput',
  props: {
    schema: {
      type: Object,
      default: () => {}
    }
  },
  setup (props) {

    const useSchema = useSchemaInputs()
    const { checkInputValidate } = useSchema

    watch(() => props.schema, (value) => {
      checkInputValidate(value)
    }, { deep: true })

    return {
      item: props?.schema || {}
    }
  }
}
</script>

<style lang='scss' scoped>
  .input {
    width: 100%;
    padding: 20px 0 20px 15px;
    border-radius: 10px;
    border: none;
    margin: 0 0 8px 0;
    font-size: 16px;
    &:focus {
      outline: none;
    }
    &-error {
      font-size: 15px;
      margin: 2px 0 10px 10px;
      color: #ce4040;
    }
  }
</style>