<template>
  <div ref='installButton'  class="install-button">
    <div  class='install-button-close' @click.stop='closeModal'>
      <img src='/src/assets/images/icons/close.png' class='install-button-close-image' alt='Закрыть'>
    </div>
    <p class='install-button-info'>Вы можете установить приложение.<br> Таким образом вы сможете постояно под рукой иметь мобильный шиномотнаж.</p>
    <button class='install-button-button'>установить приложени</button>
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  name: 'index',
  setup () {
    const installButton = ref()

    const closeModal = () => {
      installButton.value.style.display = 'none'
    }

    return { installButton, closeModal }

  }
}
</script>

<style lang='scss' scoped>
  .install-button {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #4f9cf9;
    border-radius: 20px 20px 0 0;
    padding: 60px 12px 20px 12px;
    animation: toTop .7s forwards;
    &-close {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      &-image {
        width: 20px;
        height: 20px;
      }
    }
    &-info {
      color: white;
      font-size: 16px;
      text-align: center;
      line-height: 130%;
      margin: 0 0 20px 0;
    }
    &-button {
      width: 100%;
      padding: 15px;
      border-radius: 20px;
      font-size: 16px;
      border: none;
      color: #4f9cf9;
    }
  }

  @keyframes toTop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>