<template>
<!--  DESKTOP VERSION -->
  <Desktop v-if='!$isMobile'>
    <template #desktop>
        К СОЖАЛЕНИЮ СЕЙЧАС НЕ ДОСТУПНА DESKTOP ВЕРСИЯ
    </template>
  </Desktop>
  <!--  MOBILE VERSION -->
  <Mobile v-else>
    <template #mobile>
      <h2 class="home-title main-title">Главная</h2>
      <div class='main-layout'>
        <WrapperLayout
          :class-list-for-height="['home-title', 'button', 'menu']"
          padding='10px 0 5px 0'
        >
          <template #content>
            <div class='preview-bg-image preview-bg-image-home' />
            <div class='home-offer main-layout-parent'>
              <div class='home-offer-item'>
                <img src='/src/assets/images/icons/check.svg'>
                <p class='home-offer-item-title'>Выезд мастера в удобное время и место.</p>
              </div>
              <div class='home-offer-item'>
                <img src='/src/assets/images/icons/check.svg'>
                <p class='home-offer-item-title'>Самое современное оборудование и материалы.</p>
              </div>
              <div class='home-offer-item'>
                <img src='/src/assets/images/icons/check.svg'>
                <p class='home-offer-item-title'>Качество услуг шиномонтажа без переплат.</p>
              </div>
            </div>
            <div class='home-filter main-layout-parent'>
              <p class='home-filter-title'>Расчитать стоимость</p>
              <div class='home-filter-input'>
                <VSelect
                  v-model="select.city.name"
                  :options='newFilterParamsFromDict.cites'
                  :placeholder="select.city.name"
                  @option:selected="setNewParamsFilterForType"
                  class='home-filter-select'
                />
                <VSelect
                  v-model="select.service.name"
                  :options='newFilterParamsFromDict.typeTitle'
                  :placeholder="select.service.name"
                  @option:selected="setNewParamsFilterForTyres"
                  class='home-filter-select'
                />
                <VSelect
                  v-model="select.tyres.name"
                  :options='newFilterParamsFromDict.typeTires'
                  :placeholder="select.tyres.name"
                  @option:selected="setNewParamsFilterForPrice"
                  class='home-filter-select'
                />
              </div>
              <div>
                Рассчет стоимости: {{ select.price.name.toLocaleString() }} руб
              </div>
            </div>
          </template>
        </WrapperLayout>
        <Button :simple='isForm' text='Получить скидку' @onClick='openFormRequest(true)'/>
      </div>
      <LayoutToTop
        @updateActive='openFormRequest'
        :active='isForm'
      >
        <template #content>
          <WrapperLayout
            :class-list-for-height="['select-params', -'layout-to-top-close']"
            background-color='white'
            padding='20px 15px 10px 15px'
            border-radius='20px 20px 0 0'
          >
            <template #content>
              <div style='margin: 0 0 20px 0' v-if='!success'>
                <SelectParamsLayout :select-filters-list='select'/>
              </div>
              <FormRequestApplicationSale @updateSuccess='setStatusSuccess'/>
            </template>
          </WrapperLayout>
        </template>
      </LayoutToTop>
      <ButtonInstall />
    </template>
  </Mobile>
</template>

<script>
import Button from '../components/Universal/Button.vue'
import WrapperLayout from '../components/Universal/WrapperLayout.vue'
import SelectParamsLayout from '../components/SelectParamsLayout/index.vue'
import usePriceFilter from '../../src/utils/FiltersCore/index.js'
import StandartInput from '../components/Universal/Inputs/Input.vue'
import { onMounted, ref } from 'vue'
import LayoutToTop from '../components/Universal/LayoutToTop.vue'
import FormRequestApplicationSale from '../components/Forms/RequestApplication.vue'
import Desktop from '../components/Wrappers/Desktop.vue'
import Mobile from '../components/Wrappers/Mobile.vue'
import ButtonInstall from '../components/ButtonInstall/index.vue'

export default {
  name: 'Home',
  components: { Mobile, Desktop, ButtonInstall, FormRequestApplicationSale, LayoutToTop, WrapperLayout, Button,  StandartInput, SelectParamsLayout },
  setup() {
    const isForm = ref(false)
    const filter = usePriceFilter()
    const success = ref(false)


    const {
      newFilterParamsFromDict,
      select,
      unMountedFormationFiltersParams,
      setNewParamsFilterForType,
      setNewParamsFilterForTyres,
      setNewParamsFilterForPrice
    } = filter

    onMounted(() => {
      unMountedFormationFiltersParams()
    })

    const openFormRequest = (status) => {
      isForm.value = status
      success.value = !status
    }

    const setStatusSuccess = (status) => {
      success.value = status
    }

    return {
      success,
      select,
      newFilterParamsFromDict,
      isForm,
      setNewParamsFilterForType,
      setNewParamsFilterForPrice,
      setNewParamsFilterForTyres,
      openFormRequest,
      setStatusSuccess
    }
  }
}
</script>

<style lang="scss">
.preview-bg-image-home {
  background-image: url("/src/assets/images/mechanik.jpg");
}
.home {
  &-title {
    text-align: center;
    color: white;
  }
  &-filter {
    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 0 20px 0;
    }
    &-select {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0 0 20px 0;
      }
    }
  }
  &-offer {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    height: 207px;
    justify-content: inherit;
    gap: 15px;
    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: 40px 1fr;
      //margin: 0 0 11px 0;
      gap: 16px;
      width: 100%;
      &:last-child {
        margin: 0 0 0 0;
      }
      &-title {
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        color: black;
      }
    }
  }
}

</style>
