@import "./src/assets/sass/variables.scss";
* {
  margin: 0;
  box-sizing: border-box;
  //font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  //font-size: 20px;
  color: $text;
  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  //background-image: url("./src/assets/images/bg.jpg");
  background: #4f9cf9;
  //background-repeat: no-repeat;
  //background-size: cover;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  //padding: 0 15px;
}

.preview-bg-image {
  width: 100%;
  height: 170px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 0 10px 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.2);
    border-radius: 20px;
  }
}
.main-title {
  //height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 0 10px 0;
}

.main-layout {
  background: white;
  padding: 5px 20px;
  border-radius: 20px 20px 0 0;
}
.main-layout-parent {
  background: #F5F5F5;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  height: auto;
  &:last-child {
    margin: 10px 0 10px 0;
  }
}

.form {
  //padding: 15px 10px 15px 10px;
  //background: rgba(131, 134, 214, 0.8);
  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  //border-radius: 10px;
  //margin: 10px 0;
}
.form-title {
  font-size: 18px;
  margin: 0 0 20px 0;
}

:root {
  --vs-colors--lightest: rgba(60, 60, 60, 0.26);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);

  /* Search Input */
  --vs-search-input-color: inherit;
  --vs-search-input-bg: rgb(255, 255, 255);
  --vs-search-input-placeholder-color: inherit;

  /* Font */
  --vs-font-size: 1rem;
  --vs-line-height: 1.4;

  /* Disabled State */
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;

  /* Borders */
  --vs-border-color: var(--vs-colors--lightest);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 10px;

  /* Actions: house the component controls */
  --vs-actions-padding: 12px;

  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

  /* Selected */
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);

  /* Dropdown */
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);

  /* Options */
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;

  /* Active State */
  --vs-dropdown-option--active-bg: #5897fb;
  --vs-dropdown-option--active-color: #fff;

  /* Deselect State */
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;

  /* Transitions */
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 150ms;
}
