<template>
  <!--Динамический компонент-->
 <div class='app'>
   <component :is="layout">
     <router-view />
   </component>
 </div>
</template>

<script>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import Hello from '/src/components/Hello/index.vue'
export default {
  setup() {
    const route = useRoute()
    const statusLoading = ref(true)
    const layout = route?.meta?.layout || 'default-layout'

    const changeLoading = () => {
      statusLoading.value = false
    }

    return { layout, statusLoading, changeLoading }
  }
}
</script>
