<template>
  <section class="content">
    <Desktop v-if='!$isMobile'>
      <template #desktop>
        <slot />
      </template>
    </Desktop>
    <Mobile v-else>
      <template #mobile>
        <slot />
        <BottomMenu />
      </template>
    </Mobile>
  </section>
</template>

<script>
import BottomMenu from '@/components/BottomMenu/index.vue'
import PreLoader from '../components/PreLoader/index.vue'
import Desktop from '../components/Wrappers/Desktop.vue'
import Mobile from '../components/Wrappers/Mobile.vue'
export default {
  name: 'default',
  components: { Mobile, Desktop, BottomMenu, PreLoader }
}
</script>
