<template>
  <div>
    <template v-if='statusForm.success'>
      <RequestSuccess />
    </template>
    <template v-else>
      <form @submit.prevent='sendFormReview'>
        <div class='form main-layout-parent'>
          <p class='form-title'>Заполните форму:</p>
          <div
            v-for='(item, index) in useSchemaForm'
            :key='index'
          >
            <div
              v-if='item.view.includes("stars")'
              class='form-rating'
            >
              <p>Рейтинг : </p>
              <SimpleRating
                :schema='item'
              />
            </div>
            <Input
              v-if='item.view.includes("input")'
              :schema='item'
              :key='item.key'
            />
            <TextArea
              v-if='item.view.includes("textarea")'
              :schema='item'
              :key='item.key'
            />
          </div>
        </div>
        <Button :loading='statusForm.btn' margin='10px 0 10px 0px' text='Отправить' />
      </form>
    </template>
  </div>
</template>

<script>
import Button from '../Universal/Button.vue'
import useSchemaInputs from '../../utils/useSchemaInputs.js'
import Input from '../Universal/Inputs/Input.vue'
import TextArea from '../Universal/Inputs/TextArea.vue'
import SimpleRating from '../Universal/Inputs/SimpleRating.vue'
import RequestSuccess from '../Universal/RequestSuccess.vue'
import { reactive, ref } from 'vue'
export default {
  name: 'RequestReviews',
  components: { SimpleRating, Button, Input, TextArea, RequestSuccess },
  setup() {

    const formValues = reactive({})
    const useSchema = useSchemaInputs()

    const statusForm = reactive({
      btn: false,
      success: false
    })

    const {
      reviewsValueInput,
      clearAllFields,
      checkAllValidateValue
    } = useSchema

    const useSchemaForm = ref(reviewsValueInput)

    const sendFormReview = () => {
      statusForm.btn = true
      if (checkAllValidateValue('review')) {
        useSchemaForm.value.forEach((item) => {
          formValues[item.key] = item.answer
        })
        console.log('Отправленно', formValues)
        setTimeout(() => {
          statusForm.btn = false
          statusForm.success = true
          clearAllFields()
        }, 2000)
      } else {
        setTimeout(() => {
          statusForm.btn = false
        }, 500)
      }
    }

    return {
      statusForm,
      useSchemaForm,
      sendFormReview
    }
  }
}
</script>

<style scoped>
  .form-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
</style>