<template>
    <div>
      <template v-if='statusForm.success'>
        <RequestSuccess />
      </template>
      <template v-else>
        <form @submit.prevent='sendFormApplication' class='form'>
          <div class='form main-layout-parent'>
            <p class='form-title'>Заполните форму:</p>
            <div
              v-for='(item, index) in useSchemaForm'
              :key='index'
            >
              <Input
                v-if='item.view.includes("input")'
                :schema='item'
              />
            </div>
          </div>
          <Button :loading='statusForm.btn' margin='10px 0 10px 0px' text='Отправить'/>
        </form>
      </template>
    </div>
</template>

<script>
import useSchemaInputs from '../../utils/useSchemaInputs.js'
import Input from '../Universal/Inputs/Input.vue'
import Button from '../Universal/Button.vue'
import RequestSuccess from '../Universal/RequestSuccess.vue'
import { reactive, ref } from 'vue'
export default {
  name: 'RequestApplicationSale',
  components: { Button, Input, RequestSuccess },
  setup (props, context) {

    const statusForm = reactive({
      btn: false,
      success: false
    })

    const formValues = reactive({})
    const useSchema = useSchemaInputs()

    const {
      applicationValueInput,
      checkAllValidateValue,
      changeSuccessForm,
      clearAllFields
    } = useSchema

    const useSchemaForm = ref(applicationValueInput)

    const sendFormApplication = () => {
      statusForm.btn = true
      if (checkAllValidateValue('application')) {
        useSchemaForm.value.forEach((item) => {
          formValues[item.key] = item.answer
        })
        console.log('Отправленно', formValues)
        setTimeout(() => {
          statusForm.btn = false
          statusForm.success = true
          context.emit('updateSuccess', changeSuccessForm())
          clearAllFields()
        }, 2000)
      } else {
        setTimeout(() => {
          statusForm.btn = false
        }, 500)
      }
    }


    return {
      statusForm,
      useSchemaForm,
      sendFormApplication
    }
  }
}
</script>

<style scoped>

</style>